DATABASE_URL=postgresql+psycopg2://user:password@host:5432/dbname
SECRET_KEY=cambia_questo_con_una_stringa_casuale
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_SENDER_EMAIL=CUN Fest <iscrizionicunfest@gmail.com>
BASE_URL=http://127.0.0.1:8000